#!/bin/env bash

while true; do
	echo "PUTing image"
	rpicam-jpeg -t500 -v0 -o- \
	| curl 'https://webcam.connect.prusa3d.com/c/snapshot' \
	  -X 'PUT' \
	  -H 'content-type: image/jpg' \
	  -H "fingerprint: $FINGERPRINT" \
	  -H "token: $TOKEN" \
	  --silent \
	  --data-binary "@-" \
	  --compressed
done
